@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');



* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(65, 63, 61);
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.header {
    background-color: #222;
    color: rgb(172, 245, 242);
    padding: 25px 100px;
    font-weight: 400;
}

main {
   margin: 50px 100px;
   width: 50%;
   float: left;
}

aside {
   width: 20%;
   margin-top: 50px;
   margin-left: 5%;
   float: left;
}

main .user {
    margin-bottom: 50px;
    background-color: rgb(122, 201, 211);
    padding: 20px;
    
}

main .delete-icon {
    float: right;
    color:rgb(19, 54, 77);
    cursor: pointer;
    transform: scale(2);
}

main .edit-icon {
    float: right;
    margin-right: 25px;
    color:rgb(19, 54, 77);
    cursor: pointer;
    transform: scale(2);
}

main .delete-icon:hover,
main .edit-icon:hover {
    opacity: 0.5;
}

form input:not([type="checkbox"]), 
form textarea, 
form button {
    width: 90%;
    padding: 15px 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
    border: 0;
    background-color: #222;
    color: beige;
    outline: none;
    font-size: 15px;
}

form input[type="checkbox"] {
    margin: 10px;
}

form button {
    width: 100%;
    cursor: pointer;
    transition: transform 500ms ease;
}

form button:hover {
    transform: scale(1.1);
}

.user form {
    margin-top: 20px;
}

.user form input,
.user form textarea,
.user form button {
    background-color:rgb(101, 170, 180);
}

.user form button:hover {
    transition: scale(1.01);
}